name: "TeamCity: Remove branches used for nightly test"

# TeamCity should use a newly created branches that matches the pattern `UTC-<YYYY-MM-DD>` and is the only branch matching that pattern. We rename past nightly test branches to avoid there being more than one `UTC-<YYYY-MM-DD>` branch (i.e. only one branch that matches the filter (+:UTC-*,-:UTC-nightly-tests*)). This workflow also removes renamed branches once they get past a certain age. 

on:
    workflow_dispatch:
    schedule:
        - cron: '0 9 * * *' # UTC 9AM (-7)-> 2PM PST

jobs:
    # uses the same teamcity nightly workflow used in terraform-provider-google
    # as well as the default value for DAYS_THRESHOLD
    tpg-teamcity-nightly-workflow:
        uses: hashicorp/terraform-provider-google/.github/workflows/teamcity-nightly-sweeper.yaml@main
